.signup-modal {
    background-color: red;
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;

    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        input {
            padding: 10px 20px;
            border: none;
            border-radius: 6px;
            outline: none;
            font-size: 18px;
        }

        button {
            width: max-content;
            padding: 5px 15px;
            border: none;
            border-radius: 6px;
            font-size: 16px;
        }
    }
}