.bus-card {
    min-width: 500px;
    max-width: 1400px;
    width: 800px;
    margin: auto;

    &__container {
        background-color: rgb(220, 219, 219);
        padding: 30px;
        display: flex;
        justify-content: space-between;
        border-radius: 15px;

        &__left, &__right {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .from-place, .to-place {
                font-size: 22px;
                font-weight: 700;
                text-transform: capitalize;
            }

            .departure-time, .arrival-time {
                font-size: 18px;
                font-weight: 600;
                color: #f73434;
            }

            .date {
                font-weight: 600;
            }
        }
    }
}

.bus-name-container {
    border-radius: 25px;
    padding: 20px 30px;
    background-color: #7b3737;
    color: white;
    margin-bottom: 10px;
}

.bus-name {
    font-size: 18px;
    font-weight: 700;
}

.available-seats {
    background-color: rgb(232, 178, 178);
    border-radius: 25px;
    padding: 20px 30px;
    margin-bottom: 10px;

}

.seats {

    font-size: 18px;
    font-weight: 700;
}
