.home-search {
  width: 100%;
  display: flex;
  justify-content: center;

  input {
    height: 50px;
    width: 200px;
    padding-left: 20px;
    outline: none;
  }
  button {
    height: 54px;
    width: 200px;
  }

  &__container {
    position: relative;
    &__swap {
      width: max-content;
      padding: 10px;
      border-radius: 100%;
      background-color: rgb(207, 207, 207);
      position: absolute;
      left: 206px;
      top: 7px;
      font-size: 18px;
    }

    &__starting {
      border-radius: 50px 0 0 50px;
    }
    &__ending {
      border-radius: 0 50px 50px 0;
    }
  }
}
