.header {
    background-color: rgba($color: (#e61616), $alpha: 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;

    &__credential-container {
        display: flex;
        gap: 20px;
    }
}